<script type="text/template" id="uberbox-template-main">
	<div class="uberbox-lightbox-wrapper"></div>
	<div class="uberbox-carousel-wrapper"></div>
</script>

<script type="text/template" id="uberbox-template-lightbox">
</script>
<script type="text/template" id="uberbox-template-carousel">
</script>


<script type="text/template" id="uberbox-template-lightbox-item">
	<img src="<%= thumbnail %>">
</script>
<script type="text/template" id="uberbox-template-carousel-item">
	<img src="<%= thumbnail %>">
</script>

