/*
Error: The line was indented 2 levels deeper than the previous line.
        on line 139 of uberbox.sass

134: 				img
135: 					opacity: 1
136: 	
137: 	&.uberbox-vertical
138: 		&.uberbox-has-carousel .uberbox-lightbox-wrapper
139: 				right: 150px
140: 		.uberbox-lightbox-item
141: 			left: 30px
142: 			right: 30px
143: 			top: 90px
144: 			bottom: 90px

Backtrace:
uberbox.sass:139
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/engine.rb:509:in `tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/engine.rb:513:in `tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/engine.rb:513:in `tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/engine.rb:396:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: The line was indented 2 levels deeper than the previous line.\A         on line 139 of uberbox.sass\A \A 134: 				img\A 135: 					opacity: 1\A 136: 	\A 137: 	&.uberbox-vertical\A 138: 		&.uberbox-has-carousel .uberbox-lightbox-wrapper\A 139: 				right: 150px\A 140: 		.uberbox-lightbox-item\A 141: 			left: 30px\A 142: 			right: 30px\A 143: 			top: 90px\A 144: 			bottom: 90px"; }
